[alias]
  b = branch
  cm = commit -m
  cma = commit -am
  d = diff
  ds = diff --staged
  fix = commit --amend --no-edit
  lg = log --oneline --graph --pretty=custom
  lga = log --oneline --graph --all --pretty=custom
  s = switch
  sc = switch -c
  sl = stash list
  st = status
  sts = status --short

[color "branch"]
  current = bold yellow

[fetch]
  prune = true
  pruneTags = true

[help]
  autoCorrect = prompt

[init]
  defaultBranch = master

[pretty]
  custom = %C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %s %C(blue)[%an]%C(reset) %C(yellow)%D%C(reset)

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rebase]
  autoStash = true
