[advice]
  skippedCherryPicks = false

[alias]
  a = add
  br = branch
  brd = branch -D
  cd = clean -d
  cf = clean -f
  cfd = clean -fd
  cm = commit -m
  cma = commit -am
  df = diff
  dn = diff --name-only
  ds = diff --staged
  fix = commit --amend --no-edit
  lg = log --oneline --graph --pretty=custom
  lga = log --oneline --graph --all --pretty=custom
  rb = rebase
  rbi = rebase -i
  rp = remote prune
  rs = reset
  rsh = reset --hard
  rss = reset --soft
  rst = restore
  rsts = restore --staged
  s = switch
  sc = switch -c
  sd = stash drop
  sl = stash list
  sp = stash pop
  st = status
  sts = status --short

[color "branch"]
  current = bold yellow

[fetch]
  prune = true
  pruneTags = true

[help]
  autoCorrect = prompt

[init]
  defaultBranch = master

[include]
  path = ~/.gitconfig.local

[pretty]
  custom = %C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %s %C(blue)[%an]%C(reset) %C(yellow)%D%C(reset)

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rebase]
  autoStash = true
